---
const PROJECTS = [{
    title : 'Proyecto 1 - Test',
    description : 'Descripción del proyecto',
    link: '/',
    github: 'link',
    img: 'projects/p4.png',
    tags : ['React', 'Tailwind CSS']
    },{
    title : 'Proyecto 2 - Portfolio',
    description : 'Este es un proyecto de portfolio',
    link: '/',
    github: 'link',
    img: 'projects/p3.png',
    tags : ['Next.js', 'Laravel']
    }
]
---

{
    PROJECTS.map(({title, description, tags, img}) => (
        <article class=" mb-12">
            <img class="rounded shadow-2xl shadow-white/5" src={img} alt={title}>
            
                <h3 class="text-2xl font-semibold mb-2 text-purple-300">{title}</h3>
                <p class="text-lg mb-3 text-pretty opacity-80">{description}</p>

                <ul class="flex gap-x-2 flex-row mb-2">
                    {tags.map(tag => (
                        <li>
                            <span class="flex gap-x-2 bg-indigo-300 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded-full">
                                {tag}
                            </span>
                        </li>
                    ))}
                </ul>

        </article>
    ))
}
